.winners-page {
	color: $buttonColor;
	.switch-buttons {
		margin: 0 auto;
	}
}

.winners-header,
.winners-page-header {
	font-size: 1.75em;
	text-align: center;
}

.columns-names {
	display: flex;
	width: 75%;
	min-width: 840px;
	margin: 50px auto 0;
	font-size: 1.15em;
	p {
		height: 25px;
		color: $fontColor;
		background: $buttonColor;
		white-space: nowrap;
		&.sort-button::after {
			content: '▲';
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-left: 10px;
			transition: all 0.2s ease 0s;
			transform: rotate(0deg);
		}
		&.down {
			&::after {
				transform: rotate(-180deg);
			}
		}
	}
	:first-child {
		width: 20%;
	}
	:nth-child(2),
	:nth-child(4)  {
		width: 10%;
	}
	:nth-child(3),
	:nth-child(5)  {
		width: 30%;
	}
}

.winners-table {
	display: flex;
	width: 75%;
	min-width: 840px;
	margin: 0 auto 30px;
	font-size: 1.15em;
}

.winners-table__number-column {
	width: 20%;
}

.winners-table__car-column {
	width: 10%;
	& .car,
	& .car svg {
    width: 40px;
    height: 30px;
		background: none;
		transform: translate(0px, 0px);
	}
}

.winners-table__name-column {
	width: 30%;
}

.winners-table__wins-column {
	width: 10%;
}

.winners-table__best-time-column {
	width: 30%;
}

.winners-table__number-column,
.winners-table__car-column,
.winners-table__name-column,
.winners-table__wins-column,
.winners-table__best-time-column {
	* {
		min-height: 30px;
	}
}