@import '../../assets/main-styles/nullstyle.css';
@import '../../assets/main-styles/fonts.css';
@import '../../assets/main-styles/my-default-styles.css';
.wrapper {
  padding-top: 120px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 120px;
  background: white;
  color: #545454;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  margin: 30px 0;
}

.header-logo-text h1:hover,
.header-logo-text h5:hover {
  color: #292929;
}

.header-navigation {
  width: 36.92%;
}

.header-logo-text {
  height: 60px;
}
.header-logo-text h1 {
  color: #545454;
}
.header-logo-text h5 {
  color: #292929;
}

.menu-item {
  color: #545454;
}
.menu-item.active-tab, .menu-item:hover {
  color: #292929;
}

/* Header */
/* Our friends section */
#our-friends-section {
  background: #F6F6F6;
  padding: 6.25% 0 7.8%;
}

.pets-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.pets-block button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #F1CDB3;
  transition: all 0.3s ease 0s;
}
.pets-block button:enabled:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}
.pets-block button:enabled:active {
  background: #F1CDB3;
}
.pets-block button:disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
  cursor: default;
}
.pets-block button.active-button {
  background: #F1CDB3;
}

.pets-list {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(auto-fill, 435px);
  justify-content: center;
  overflow: hidden;
  grid-gap: 30px 40px;
}

.pet-card {
  width: auto;
  height: auto;
}
.pet-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination-bar {
  min-width: 340px;
  width: 28.33%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination-button {
  width: 52px;
  height: inherit;
}

/* Our friends section */
@media (max-width: 1200px) {
  .header {
    margin-bottom: 60px;
  }
  .footer-block {
    max-width: 1000px;
    gap: 5%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .footer {
    height: 639px;
    padding: 30px 0 0;
  }
  .footer-block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin: -3px 0 0 -6px;
  }
  #footer-image {
    bottom: -5px;
    right: -4px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-container {
    width: 92.19%;
  }
  .modal {
    width: 682px;
    height: 402px;
  }
  .modal-window {
    height: 350px;
  }
  .modal-window img {
    height: 350px;
    width: 350px;
  }
  .modal-info-block {
    margin: 10px 9px 37px 11px;
  }
  .modal-info-block p {
    margin: 20px 0;
  }
  .modal-info-block ul {
    gap: 5px;
  }
}
@media (max-width: 767px) {
  .header-navigation {
    display: none;
  }
  .menu-icon {
    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu-icon span, .menu-icon:before, .menu-icon:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #F1CDB3;
  }
  .menu-icon:before, .menu-icon:after {
    content: "";
  }
  .menu-icon:before {
    top: 0;
  }
  .menu-icon:after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: translate(0, -50%);
  }
  .menuBG,
  .menu {
    display: block;
  }
  .menuBG.active {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .menuBG.active .menu {
    right: 0;
  }
  .menu-icon.active {
    transform: rotate(-90deg);
  }
  .menuBG {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.4s ease 0s;
  }
  .menuBG .menu {
    position: absolute;
    top: 0;
    right: -400px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    transition: all 0.4s ease 0s;
  }
  .header-navigation {
    display: block;
  }
  .header-menu {
    flex-direction: column;
    gap: 40px;
    font-size: 32px;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .footer {
    height: auto;
    max-height: 809px;
  }
  .footer-block {
    height: auto;
    gap: 40px;
  }
  .modal {
    width: 552px;
    height: 525px;
  }
  .modal-window {
    max-height: 470px;
    height: -webkit-fill-available;
  }
  .modal-window img {
    align-self: center;
    width: 300px;
    height: 300px;
  }
  .modal-info-block {
    margin: 10px 9px 37px 11px;
  }
  .modal-info-block p {
    margin: 20px 0;
  }
  .modal-info-block ul {
    gap: 5px;
  }
}
@media (max-width: 667px) {
  .main-container {
    width: 87.5%;
  }
  .footer-info-block:first-child {
    align-items: center;
  }
  .footer-info-block h3 {
    align-self: center;
    text-align: center;
  }
  #footer-image {
    width: 260px;
    height: 269px;
    bottom: 0px;
    right: -2px;
  }
  .modal {
    width: 270px;
    height: 470px;
  }
  .modal-window {
    max-height: 410px;
    padding: 10px 0;
  }
  .modal-window img {
    display: none;
  }
  .modal-info-block {
    margin: 0px 10px 10px 25px;
  }
  .modal-info-block p {
    text-align: justify;
    font-size: 13px;
    margin: 20px 0 24px;
  }
}
@media (max-width: 480px) {
  .main-container {
    width: 93.75%;
  }
  .header {
    max-width: 93.33%;
    margin: 0 auto 60px;
  }
}
@media (max-width: 1279px) {
  .pets-block {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .pets-list {
    height: 1374px;
  }
}
@media (max-width: 768px) {
  #our-friends-section {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .menuBG.active {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .menuBG.active .menu {
    background-color: #F6F6F6;
  }
}
@media (max-width: 667px) {
  .pets-list {
    height: 1365px;
  }
}
@media (max-width: 568px) {
  h3 {
    font-size: 1.78em;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.78em;
  }
  .header {
    max-width: 100%;
  }
  .header-content {
    justify-content: center;
    gap: 60px;
  }
  #our-friends-section {
    padding: 42px 0;
  }
  .pets-block {
    gap: 42px;
  }
  .pagination-bar {
    min-width: 300px;
  }
}
.menu-icon span, .menu-icon:before, .menu-icon:after {
  background-color: black;
}