@import '../../assets/main-styles/nullstyle.css';
@import '../../assets/main-styles/fonts.css';
@import '../../assets/main-styles/my-default-styles.css';

$normalColor: #F1CDB3;
$hoverColor: #FDDCC4;
$TextColor: white;
$normalLinksColor: #CDCDCD;
$hoverLinksColor: #FAFAFA;
$defaultTransition: all 0.3s ease 0s;
$headerHeight: 120px;

.wrapper {
	padding-top: $headerHeight;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	height: $headerHeight;
	background: white;
	color: #545454;
}

.header-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.header-logo-text h1:hover,
.header-logo-text h5:hover {
	color: #292929;
}

.header-navigation {
	width: 36.92%;
}

.header-logo-text {
	height: 60px;
	h1 {
		color: #545454;
	}
	h5 {
		color: #292929;
	}
}

.menu-item {
  color: #545454;
	&.active-tab,
	&:hover {
		color: #292929;
	}
}
/* Header */

/* Our friends section */
#our-friends-section {
	background: #F6F6F6;
	padding: 6.25% 0 7.8%;
}

.pets-block {
	width: 100%;
	height: 1162px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	button {
		background-color: rgba($color: #000000, $alpha: 0);
		border: 2px solid $normalColor;
		transition: $defaultTransition;	
		&:enabled {
			&:hover {
				background: $hoverColor;
				border-color: #FDDCC4;
			}
			&:active {
				background: $normalColor;
			}
		}
		&:disabled {
			border-color: $normalLinksColor;
			color: $normalLinksColor;
			cursor: default;
		}
		&.active-button {
			background: $normalColor;
		}
	}
}

.pets-list {
	width: 100%;
	height: 920px;
	display: grid;
	grid-template-columns: repeat(4, 22.5%);
	grid-template-rows: repeat(2, 435px);
	justify-content: space-between;
	row-gap: 30px;
}

.pet-card {
	width: auto;
	height: auto;
}

.pagination-bar {
	width: 28.33%;
	height: 52px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.pagination-button {
	width: 15.29%;
	height: inherit;
}
/* Our friends section */