@media (max-width: 1200px) {
  .header {
    margin-bottom: 60px;
  }
  .footer-block {
    max-width: 1000px;
    gap: 5%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .footer {
    height: 639px;
    padding: 30px 0 0;
  }
  .footer-block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin: -3px 0 0 -6px;
  }
  #footer-image {
    bottom: -5px;
    right: -4px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-container {
    width: 92.19%;
  }
}
@media (max-width: 767px) {
  .header-navigation {
    display: none;
  }
  .menu-icon {
    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu-icon span, .menu-icon:before, .menu-icon:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #F1CDB3;
  }
  .menu-icon:before, .menu-icon:after {
    content: "";
  }
  .menu-icon:before {
    top: 0;
  }
  .menu-icon:after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: translate(0, -50%);
  }
  .menuBG,
  .menu {
    display: block;
  }
  .menuBG.active {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .menuBG.active .menu {
    right: 0;
  }
  .menu-icon.active {
    transform: rotate(-90deg);
  }
  .menuBG {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.4s ease 0s;
  }
  .menuBG .menu {
    position: absolute;
    top: 0;
    right: -320px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    transition: all 0.4s ease 0s;
  }
  .header-navigation {
    display: block;
  }
  .header-menu {
    flex-direction: column;
    gap: 40px;
    font-size: 32px;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .footer {
    height: auto;
    max-height: 809px;
  }
  .footer-block {
    height: auto;
    gap: 40px;
  }
}
@media (max-width: 667px) {
  .main-container {
    width: 87.5%;
  }
  .footer-info-block:first-child {
    align-items: center;
  }
  .footer-info-block h3 {
    align-self: center;
    text-align: center;
  }
  #footer-image {
    width: 260px;
    height: 269px;
    bottom: 0px;
    right: -2px;
  }
}
@media (max-width: 480px) {
  .main-container {
    width: 93.75%;
  }
  .header {
    max-width: 93.33%;
    margin: 0 auto 60px;
  }
}