@media (max-width: 1279px) {
  .help-cards-block {
    gap: 55px 10%;
  }
}
@media (max-width: 1200px) {
  #previewBGpuppyImg {
    width: 569px;
    height: 593px;
  }
  .preview-block {
    height: 1165px;
  }
  .preview-info,
  .preview-button {
    width: 207px;
    margin: 0 auto;
  }
  .help-block {
    height: auto;
  }
  .help-cards-block {
    min-width: 630px;
    height: 449px;
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 113px);
    justify-content: space-between;
    align-content: space-between;
    gap: 55px 60px;
  }
  .help-card {
    height: auto;
  }
  .slider-container {
    width: 580px;
  }
  .pets-row {
    min-width: 580px;
    gap: 40px;
  }
  @keyframes move-right {
    from {
      left: -580px;
    }
    to {
      left: -1160px;
    }
  }
  @keyframes move-left {
    from {
      left: -580px;
    }
    to {
      left: 0px;
    }
  }
}
@media (max-width: 991px) {
  #donation-section {
    height: auto;
  }
  .donation-block {
    min-width: 505px;
    height: auto;
    flex-direction: column-reverse;
    gap: 60px;
  }
  .donation-info {
    gap: 20px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .pets-slider {
    gap: 12px;
  }
  .pets-row {
    grid-template-columns: repeat(2, 270px);
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .about-block {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .about-block {
    gap: 42px;
  }
  #section-pets {
    height: auto;
    padding: 46px 0;
  }
  .pets-slider {
    justify-content: space-between;
  }
  .slider-container {
    width: 270px;
  }
  .pets-row {
    min-width: 270px;
    width: auto;
    grid-template-columns: 270px;
    gap: 40px;
  }
  @keyframes move-right {
    from {
      left: -270px;
    }
    to {
      left: -540px;
    }
  }
  @keyframes move-left {
    from {
      left: -270px;
    }
    to {
      left: 0px;
    }
  }
}
@media (max-width: 667px) {
  #previewBGpuppyImg {
    width: 260px;
    height: 271px;
    left: 50%;
    transform: translate(-42%, 0);
  }
  .preview-block {
    height: 823px;
  }
  .preview-info {
    text-align: center;
    align-items: center;
  }
  .help-cards-block {
    height: auto;
    min-width: auto;
    gap: 7.5vw 7.25vw;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
  }
  .help-card h4 {
    font-size: 1.25em;
  }
}
@media (max-width: 568px) {
  .donation-block {
    min-width: auto;
  }
  .donation-block > img {
    width: 430px;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 480px) {
  h2, h3 {
    font-size: 2.15em;
    text-align: center;
  }
  .preview-info {
    min-width: 100%;
    height: 296px;
  }
  .preview-info h2 {
    letter-spacing: 0.06em;
  }
  #about-section {
    margin: 42px 0;
  }
  .about-image {
    width: 260px;
    height: 354px;
  }
  .about-text {
    width: 90%;
    height: auto;
    gap: 23px;
  }
  .about-text h3 {
    text-align: center;
  }
  .about-text p {
    text-align: justify;
  }
  .pets-block {
    gap: 42px;
  }
  .pets-slider {
    height: auto;
    max-width: 270px;
    flex-wrap: wrap;
    gap: 20px 80px;
    justify-content: center;
  }
  .pets-slider button {
    order: 1;
  }
  #help-section {
    margin: 42px 0;
  }
  .help-cards-block {
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(5, 87px);
    gap: 30px;
  }
  .help-block {
    gap: 42px;
  }
  .help-card h4 {
    font-size: 1.07em;
  }
  .help-card img {
    width: 50px;
    height: 50px;
  }
  #donation-section {
    padding: 42px 0;
  }
  .donation-block {
    gap: 42px;
  }
  .donation-block > img {
    width: 260px;
    height: 135px;
  }
  .donation-info {
    width: 300px;
    align-items: center;
  }
  .donation-info h3 {
    text-align: center;
  }
  .donation-info h5 {
    line-height: 160%;
    letter-spacing: 0.003em;
  }
  .donation-info p {
    width: 93.33%;
    text-align: justify;
  }
  .card-number-block {
    width: 93.67%;
    height: 43px;
  }
  .card-number-block h4 {
    font-size: 1.07em;
  }
}
@media (max-width: 384px) {
  h2, h3 {
    font-size: 1.785em;
    text-align: center;
  }
}