@import '../../assets/main-styles/nullstyle.css';
@import '../../assets/main-styles/fonts.css';
@import '../../assets/main-styles/my-default-styles.css';
/* preview section */
.preview-block {
  position: relative;
  width: 100%;
  height: 908px;
  background: center/cover url("../../assets/images/previewBG-gradient.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px 0 0;
}

#previewBGpuppyImg {
  max-width: 698px;
  max-height: 728px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.preview-info {
  min-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38.33%;
  height: 322px;
}
.preview-info h2 {
  display: block;
  width: 67.39%;
  line-height: 130%;
  color: white;
}
.preview-info p {
  font-family: Arial sans-serif;
  font-size: 1.07em;
  line-height: 160%;
  color: #CDCDCD;
}

.preview-button a {
  color: #292929;
}

/* preview section */
/* About section */
#about-section {
  margin: 80px 0 100px;
}

.about-block {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}

.about-image {
  width: 300px;
  height: 408px;
  float: left;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 380px;
  overflow: hidden;
}
.about-text h3 {
  text-align: left;
}
.about-text p {
  font-family: Arial sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* About section */
/* Pets section */
#section-pets {
  height: 877px;
  background: #F6F6F6;
  padding: 80px 0 100px;
}

.pets-block {
  height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.pets-slider {
  width: 100%;
  height: 435px;
  display: flex;
  gap: 4.42%;
  align-items: center;
}
.pets-slider button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #F1CDB3;
}
.pets-slider button:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}
.pets-slider button:active {
  background: #F1CDB3;
}

.pets-row {
  width: 82.5%;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: 435px;
  grid-auto-rows: 0;
  justify-content: space-between;
  overflow: hidden;
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.pets-block-button {
  width: 260px;
}
.pets-block-button button {
  width: 100%;
  color: #292929;
}

/* Pets section */
/* Help section */
#help-section {
  margin: 80px 0 100px;
}

.help-block {
  width: 85.42%;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
}

.help-cards-block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 11.5%;
}

.help-card {
  height: 51.13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 2;
}
.help-card h4 {
  white-space: nowrap;
}

/* Help section */
/* Donation section */
#donation-section {
  height: 462px;
  padding: 80px 0 100px;
  background: #F6F6F6;
}

.donation-block {
  min-width: 915px;
  width: 76.25%;
  height: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#donation-image {
  width: 55.19%;
}

.donation-info {
  width: 41.53%;
  width: 380px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.donation-info h3 {
  text-align: left;
}
.donation-info h5 {
  letter-spacing: 0.06em;
}
.donation-info p {
  font-family: Arial sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.card-number-block {
  width: 92.11%;
  height: 15.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.card-number-block a {
  color: #545454;
  letter-spacing: 0.06em;
}
.card-number-block:hover {
  background: #FDDCC4;
}
.card-number-block:active {
  opacity: 0.8;
}

/* Donation section */
@media (max-width: 1279px) {
  .help-cards-block {
    gap: 55px 10%;
  }
}
@media (max-width: 1200px) {
  #previewBGpuppyImg {
    width: 569px;
    height: 593px;
  }
  .help-block {
    height: auto;
  }
  .help-cards-block {
    min-width: 630px;
    height: 449px;
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 113px);
    justify-content: space-between;
    align-content: space-between;
    gap: 55px 60px;
  }
  .help-card {
    height: auto;
  }
  .footer-block {
    max-width: 1000px;
    gap: 5%;
    margin: 0 auto;
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .main-container {
    width: 92.19%;
  }
  .preview-block {
    height: 1165px;
  }
  .header {
    margin-bottom: 60px;
  }
  .preview-info,
  .preview-button {
    margin: 0 auto;
  }
  .pets-slider {
    gap: 12px;
  }
  .pets-row {
    grid-template-columns: repeat(2, 270px);
  }
  #donation-section {
    height: auto;
  }
  .donation-block {
    min-width: 505px;
    height: auto;
    flex-direction: column-reverse;
    gap: 60px;
  }
  .donation-info {
    gap: 20px;
  }
  .footer {
    height: 639px;
    padding: 30px 0 0;
  }
  .footer-block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin: -3px 0 0 -6px;
  }
  #footer-image {
    bottom: -5px;
    right: 0;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .about-block {
    flex-direction: column-reverse;
    gap: 80px;
  }
}