@import '../../assets/main-styles/nullstyle.css';
@import '../../assets/main-styles/fonts.css';
@import '../../assets/main-styles/variables.css';

$normalColor: #F1CDB3;
$hoverColor: #FDDCC4;
$TextColor: white;
$normalLinksColor: #CDCDCD;
$hoverLinksColor: #FAFAFA;
$defaultTransition: all 0.3s ease 0s;

body {
	height: 100%;
	font-family: Georgia sans-serif;
	color: $TextColor;
}

h2 {
	font-size: 3.14em;
	line-height: 130%;
	letter-spacing: 0.06em;
}

h3 {
	font-size: 2.5em;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	text-align: center;
}

h4 {
	font-size: 1.43em;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
}

h5 {
	font-size: 1.07em;
	letter-spacing: 0.1em;
	line-height: 110%;
}

button {
	width: 45%;
	height: 52px;
	background: $normalColor;
	border-radius: 100px;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	transition: $defaultTransition;
	&:hover {
		background: $hoverColor;
	}
}

.wrapper {
	width: 100%;
	height: auto;
}

.main-container {
	max-width: 1200px;
	width: 93.75%;
	margin: 0 auto;
}

.preview-block {
	position: relative;
	width: 100%;
	height: 908px;
	background: center/cover url('../../assets/images/previewBG-gradient.jpg');
	object-fit: cover;
	padding: 60px 0 0;
}

.header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	color: $TextColor;
	margin-bottom: 18.58%;
}

.header-logo-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Arial sans-serif;

	h1 {
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: $normalColor;
	}
	h5 {
		line-height: 15px;
	}
}

.header-navigation {
	display: flex;
	align-items: center;
	width: 35.72%;
}

.header-menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	font-size: 1.07em;
	line-height: 160%;
	.menu-item {
		font-family: Arial sans-serif;
		color: $normalLinksColor;
		transition: $defaultTransition;
		&:after {
			content: '';
			display: block;
			width: 0;
			transition: all 50ms ease 0s;
			background-color: $normalColor;
		}

		&:hover {
			color: $hoverLinksColor
		}

		&:active {
			&:after {
				width: 100%;
				height: 3px;
			}
		}
	}
}

#previewBGpuppyImg {
	max-width: 698px;
	max-height: 728px;
	position: absolute;
	bottom: 0;
	right: 40px;
}

.preview-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 38.33%;
	height: 322px;
	h2 {
		display: block;
		width: 67.39%;
		line-height: 130%;
	}
	p {
		font-size: 1.07em;
		line-height: 160%;
	}
}