@import './nullstyle.css';
@import './fonts.scss';
@import './animations.scss';

$defaultBGColor: #2e2a23;
$darkBGColor: #1e1c18;
$defaultFontColor: #11a182;

.page-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.main-wrapper {
	width: calc(100vw - 375px);
	height: 100vh;
	background-color: $defaultBGColor;
	overflow-y: scroll;
	overflow-x: hidden;
	touch-action: pinch-zoom;
	color: $defaultFontColor;
	&::-webkit-scrollbar {
		width: 4px;
		background-color: $defaultBGColor;
	}
	&::-webkit-scrollbar-track {
		background-color: $defaultBGColor;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $defaultFontColor;;
	}
}

.header {
	width: 100%;
	height: 50px;
	padding: 10px;
}

.game-name {
	font-family:  "Exo 2", "Lato", sans-serif;
	font-size: 20px;
	color: $defaultFontColor;
}

.main {
	width: 80%;
	height: auto;
	font-family:  "Exo 2", "Lato", sans-serif;
	margin: 0 auto;
}

.main__header {
	font-size: 46px;
	color: #1cc19e;
	text-align: center;
}

.table {
	max-width: 450px;
	min-width: 400px;
	margin: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320))) auto;
}

.table-surface {
	width: 100%;
	height: 130px;
	background-color: $defaultFontColor;
	margin: 0 auto;
	transform: perspective(500px) rotateX(20deg);
	transform-origin: bottom;
	padding: 30px calc(5px + (20 - 5) * ((100vw - 500px) / (1440 - 500)));
}	

.items-container {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	z-index: 5;
}

.table-edge {
		width: 100%;
    background: rgb(6, 122, 103);
    height: 15px;
    transform: rotateX(-40deg);
    transform-origin: top;
		margin: 0 auto 10px auto;
}

.table-leg {
	width: 24px;
	height: 10px;
	background: #11a182;
	position: absolute;
	top: 15px;
	&:first-child{
		left: 10px;
	}
	&:last-child {
		right: 10px;
	}
}

parcel {
	width: 100px;
	height: 116px;
	background: center/cover no-repeat url('../assets/img/parcel.svg');
	&.hovered {
		&:after {
			content: '<parcel></parcel>';
		}
	}
	&.seal,
	&#seal {
		background: url('../assets/img/parcel.svg') center/cover no-repeat, 
								url('../assets/img/seal.svg') 50% 5px no-repeat;
		background-blend-mode: color-burn;
		background-size: auto;
	}
}

envelope {
	position: relative;
	z-index: 10;
	width: 100px;
	height: 71px;
	background: center/cover no-repeat url('../assets/img/void-envelope.svg');
	&.opened {
		position: relative;
		z-index: 10;
		width: 100px;
		height: 112px;
		background: center/cover no-repeat url('../assets/img/opened-envelope.svg');
	}
	&.hovered {
		&:after {
			content: '<envelope></envelope>';
		}
	}
	&.seal,
	&#seal {
		background: url('../assets/img/void-envelope.svg') center/cover no-repeat, 
								url('../assets/img/seal.svg') 50% 10px no-repeat;
		background-blend-mode: color-burn;
		background-size: auto;
	}
}

stamp {
	width: 50px;
	height: 31px;
	background-image: url('../assets/img/stamp2.svg');
	&.hovered {
		&:after {
			content: '<stamp></stamp>';
		}
	}
}

seal {
	width: 50px;
	height: 50px;
	background: center/cover no-repeat url('../assets/img/seal.svg');
	margin: 5px auto;
	&.hovered {
		&:after {
			content: '<seal></seal>';
		}
	}
}

parcel,
envelope,
stamp,
seal {
	position: relative;
	display: block;
	transition: transform 0.4s ease 0s;
	&.hovered {
		border: 5px solid rgb(6, 122, 103);
		&:after {
			position: absolute;
			top: -60px;
			left: -50px;
			z-index: 10;
			width: auto;
			height: 40px;
			padding: 10px;
			background-color: #cfcfcf;
			border-radius: 5px;
			font-size: 22px;
			text-align: center;
			white-space: nowrap;
			opacity: 0;
			pointer-events: none;
		}
		&.hovered:after {
			opacity: 1;
		}
	}
}

.editor-wrapper {
	width: 100%;
	max-width: 1000px;
	height: auto;
	display: flex;
	padding: 10px;
	margin: 0 auto;
	background-color: $darkBGColor;
}

.code-viewer {
	width: 50%;
}

.editor-header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	height: 40px;
	background-color: $defaultBGColor;
	font-family: menlo, monospace;
	font-size: 16px;
	color: $defaultFontColor;
	white-space: nowrap;
	padding: 13px;
	border: 1px solid rgb(80 78 74 / 80%);
	& p:first-child {
		font-weight: 600;
	}
}

.code-area {
	display: flex;
	height: 278px;
	border: 1px solid rgb(80 78 74 / 80%);
	line-height: initial;
	background-color: #23241f;
	& pre {
		width: 90%;
		display: flex;
    flex-direction: column;
    align-items: start;
	}
	& code {
		width: 100%;
		overflow: hidden;
		font-family: menlo, monospace;
    font-size: 15px;
		color: grey;
		white-space: pre-wrap;
		&.html {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 3px;
			.html__markup-code:not(& > .html__markup-code) {
				margin-left: 1rem;
				cursor: default;
				&.hovered {
					.hljs-tag,
					.hljs-tag *,
					.hljs .hljs-tag * {
						color: $defaultFontColor;
					}
				}
			}
			& > .html__markup-code {
				display: flex;
				flex-direction: column;
				margin: 5px;
			}
		}
		&.css {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

.css-input {
	display: flex;
	gap: 5px;
}

#css-selector-textarea {
	position: relative;
	z-index: 5;
	width: 95%;
	background: none;
	font-family: menlo, monospace;
	font-size: 15px;
	color: #e6db74;
	border-radius: 4px;
	padding: 4px;
	margin: 5px;
	caret-color: #f92672;
	overflow: auto;
	resize: none;
	&::placeholder {
		color:$defaultFontColor;
    font-size: 16px;
	}
	&::-webkit-scrollbar {
		width: 4px;
		background-color: $defaultBGColor;
	}
	&::-webkit-scrollbar-track {
		background-color: $defaultBGColor;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $defaultFontColor;;
	}
}

.enter-button {
	width: 40px;
	height: 20px;
	z-index: 10;
	display: block;
	background: $defaultFontColor;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 7px 2px 7px;
	margin: 8px 5px;
	color: white;
	border: solid 3px rgb(6, 122, 103);
	border-width: 1px 1px 6px 1px;
	font-size: 9px;
	cursor: pointer;
}

.column-numbers {
	font-family: menlo, monospace;
  font-size: 15px;
	color: $defaultFontColor;
	background-color: $defaultBGColor;
	padding: 10px 6px;
}

.footer {
	display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
	width: 270px;
	height: auto;
	margin: 30px auto 10px;
	font-family:  "Exo 2", "Lato", sans-serif;
	font-size: 17px;
	font-weight: 600;
	& a,
	& p {
		color: $defaultFontColor;;
		transition: all 0.2s ease 0s;
		&:hover {
			cursor: pointer;
			color: #bebebe;
		}
	}
}

#author {
	& strong {
		color: #0ec29b;
	}
}

#course-link {
	display: flex;
	align-items: center;
	gap: 5px;
	color: $defaultFontColor;
}

#school-logo {
	display: inline-block;
	width: 70px;
	height: 25px;
	transition: all 0.2s ease 0s;
	opacity: 0.8;
	background: center/cover no-repeat url('../assets/img/rs_school_js.svg');
	&:hover {
		opacity: 1;
	}
}

@import './level-info.scss';
@import './adaptive.scss';