$defaultColor: rgb(52, 52, 52);
$hoverColor: rgb(140, 140, 140);
$activeColor: rgb(150, 150, 150);
$borderColor: rgb(85, 85, 85);
$defaultColor: $defaultColor;
$themeColor: rgba(219, 157, 255, 0.5);
$themeBGColor: #5b3770;
$openedCellColor: #6b2199;