$defaultColor: rgb(125, 125, 125);
$hoverColor: rgb(140, 140, 140);
$activeColor: rgb(150, 150, 150);
$borderColor: rgb(85, 85, 85);
$defaultColor: $defaultColor;
$themeColor: #6b2199;
$themeBGColor: rgba(89, 38, 118, 0.6);
$openedCellColor: rgba(219, 157, 255, 0.5);
